<!DOCTYPE html>
<html lang="en">

<head>
  {{> html-head}}
</head>

<body id="page-top">
  <!-- Navigation-->
  {{> navbar}}
  <!-- Masthead-->
  {{> header}}
  {{{body}}}
  <!-- Footer-->
  {{> footer}}
  {{> customization}}
  {{> html-foot}}
</body>

</html>