<div class="card">
  <div class="card-body" style="text-align:center">
    <h1>Unexpected Error:</h1>
    <h2><i>"{{{message}}}"</i></h2>
    <button class="btn btn-primary" onclick="window.location='/'">Back to home</button>
  </div>
</div>